name: default
hostname: "{{ template.name }}"
{% if template.networks[0].ip is defined and template.networks[0].netmask is defined and template.networks[0].gateway is defined %}
network:
    version: 2
    renderer: NetworkManager
    ethernets:
{% for network in template.networks %}
        {{ network.name }}:
            dhcp4: true
            addresses:
                - {{ network.ip }}/{{ (network.ip + '/' + network.netmask) | ipaddr('prefix') }}
            gateway4: network.gateway
{% if network.dns_servers %}
            nameservers:
                addresses: {{ network.dns_servers }}
{% endif %}
{% endfor %}
{% endif %}
fqdn: "{{ template.name }}.{{ template.domain | default('') }}"
{% if template.dns_servers is defined %}
resolv_conf:
    nameservers: "{{ template.dns_servers }}"
{% if template.domain is defined %}
    domain: "{{ template.domain }}"
{% endif %}
{% endif %}
{% if template.user_name is defined %}
users:
    - name: "{{ template.user_name }}"
      sudo: true
{% endif %}
{% if template.root_password is defined %}
password: "{{ template.root_password }}"
chpasswd:
    expire: false
{% endif %}
ssh_pwauth: yes